@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Movies.Models;
@model IEnumerable<ActorModel>
@{
    ViewData["Title"] = "Actor";
}
<h3>List of Actors</h3>

@Html.ActionLink("Create","Create")

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last name</th>
            <th>Date Of Birth</th>
            <th>Weight</th>
            <th>Height</th>
            <th>NetWorth</th>
            <th>Number Of Children</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var actorModel in Model)
        {
            <tr>
                <td>@actorModel.FirstName</td>
                <td>@actorModel.LastName</td>
                <td>@actorModel.DateOfBirth</td>
                <td>@actorModel.Weight</td>
                <td>@actorModel.Height</td>
                <td>@actorModel.NetWorth</td>
                <td>@actorModel.NumberOfChildren</td>
                <td>@actorModel.CreatedAt.ToString("dd-MM-yyyy")</td>
                <td>@actorModel.ModifiedAt.ToString("dd-MM-yyyy")</td>
                <td>
                    @Html.ActionLink("Edit","Edit", new {id= @actorModel.Id}) &nbsp
                    @Html.ActionLink("Delete","Delete", new {id=@actorModel.Id})
                </td>

            </tr>
        }
    </tbody>
</table>
